name: Build Flutter APK and IPA on Release

on:
  release:
    types: [created]

jobs:
  android:
    name: Build Flutter APK
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.35.7"

      - name: Install dependencies
        run: flutter pub get

      - name: Build release APK
        run: flutter build apk --release

      - name: Upload APK to release assets
        uses: softprops/action-gh-release@v2
        with:
          files: build/app/outputs/flutter-apk/app-release.apk
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  ios:
    name: Build Flutter IPA
    runs-on: macos-13

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.35.7"

      - name: Check Xcode version
        run: |
          which xcodebuild
          xcodebuild -version

      - name: Install dependencies
        run: flutter pub get

      - name: Build app
        run: flutter build ipa --no-codesign --release
        
      - name: Package unsigned IPA
        run: |
          ls build
          cd build/ios/iphoneos
          mkdir Payload
          cp Runner.app Payload
          zip -r Runner.ipa Payload

      - name: Verify IPA file
        run: ls -lh build/ios/ipa

      - name: Upload unsigned IPA artifact
        uses: softprops/action-gh-release@v2
        with:
          files: build/ios/iphoneos/*.ipa
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
